<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<video controls>
	<source src="http://192.168.1.16:1337/post/video/13" type="video/mp4">
	<p>Your browser does not support H.264/MP4.</p>
</video>
<script>
// When socket is ready
var socket = io.connect('http://192.168.1.16:1337');
socket.on('connect', function () {

  // Request data from '/user' route over socket
  // The second argument is an arbitrary set of data
  // Here, If we haven't overridden the scaffold, and assuming you have a user model,
  // socket.request() will respond with the first 3 users from your database.
  // This will also automatically subscribe us to realtime updates for those 3 users
  // as well as any new users added to the collection.

});
</script>