<script>
    var $parametros = <?php echo json_encode($_POST);?>;
    var $_controller = '<?php echo Zend_Controller_Front::getInstance()->getRequest()->getControllerName();?>';
    var $_camposJson = '<?php echo $this->camposJson;?>';
    $_camposJson = JSON.parse($_camposJson);
    var $_camposSelecionar = <?php echo $this->camposSelecionar;?>;
</script>
<hr />
<div class="row" ng-controller="<?php echo $this->controle;?>_<?php echo $this->acao;?>">
	<div class="col-xs-12">
		<div class="box">
			<!-- /.box-header -->
			<div class="box-body">
				<table id="tablesModal" class="table table-bordered table-hover">
					<thead>
						<tr>
						    <?php foreach ($this->campos as $key => $value):?>
							<th><?php echo $value;?></th>
							<?php endforeach;?>
						</tr>
					</thead>
				</table>
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>
	<!-- /.col -->
</div>
<script type="text/javascript" src="<?php echo $this->baseUrl('/media/sistema/media/js/global/modal.js')?>"></script>
<style>
table.dataTable tbody tr{cursor:pointer;}
</style>
