<script>
    var $parametros = <?php echo json_encode($_POST);?>;
</script>
<div load-ctrl="recortar-imagem" caminho-js="<?php echo $this->baseUrl("/painel/media/js/global/recortar-imagem.js") ?>" align="center">
   <div loaderavatar="{{id_avatar}}" ng-model="picture" ngf-pattern="image/*"
     class="cropArea">
     <img-crop area-min-size="192" area-type="square" image="picture"                 
    result-image="croppedDataUrl">
    </img-crop>
</div>
<?php if(file_exists('painel/media/css/global/recortar-imagem.css')):?>
<link href="<?php echo $this->baseUrl("/painel/media/css/global/recortar-imagem.css") ?>" media="screen" rel="stylesheet" type="text/css">
<?php endif;?>