<div>
    <form action="" id="form" novalidate="novalidate">
		<div class="form-group">
			<label for="nm_categoria" class="col-sm-2 col-xs-3 control-label">Nome:</label>
			<div class="col-sm-10 col-xs-9 col-lg-10">
				<input name="nm_categoria" value="<?php echo isset($this->categoria['nm_categoria']) ? $this->categoria['nm_categoria'] : ''; ?>" data-error="Nome da categoria obrigatório" data-type="string" required class="form-control"/>
			</div>
			<div style="clear: both;"></div>
		</div>
		<div class="form-group">
			<label for="st_categoria" class="col-sm-2 col-xs-3 col-lg-2 control-label">Status:</label>
			<div class="col-sm-10 col-xs-9 col-lg-4">
				<select name="st_categoria" class="form-control" data-error="Status obrigatório" data-type="select" required>
				    <option value="0" <?php echo isset($this->categoria["st_categoria"]) && $this->categoria["st_categoria"]  == 0 ? "selected='selected'" : "";?>>Inativo</option>
                    <option value="1" <?php echo isset($this->categoria["st_categoria"]) && $this->categoria["st_categoria"]  == 1 ? "selected='selected'" : "";?>>Ativo</option>
                </select>
			</div>
			<div style="clear: both;"></div>
		</div>
		<div class="form-group" align="center">
		<?php 
		  $btns = array();
		  if(!isset($this->categoria['id_categoria']))
		      $btns['btn-incluir'] =  array('text' => "Incluir",'classe' => 'btn btn-success','btn' => "incluir","habilitado" => "true");
		  if(isset($this->categoria['id_categoria']))
		      $btns['btn-alterar'] =   array('text' => "Alterar",'classe' => 'btn btn-info','btn' => "alterar","habilitado" => "true");
		  if(isset($this->categoria['id_categoria']))
		      $btns['btn-remover'] =   array('text' => "Remover",'classe' => 'btn btn-danger','btn' => "excluir","habilitado" => "true");
		  if(isset($this->categoria['id_categoria']))
		      $btns['btn-limpar'] =   array('text' => "Limpar",'classe' => 'btn btn-default','btn' => "limpar","habilitado" => "true");
		  echo $this->botao($btns);
		  ?>
		</div>
		<input type="hidden" name="id_categoria" id="id_categoria" value="<?php echo isset($this->categoria['id_categoria']) ? $this->categoria['id_categoria'] : "";?>"/>
	</form>

</div>
<?php if(Zend_Controller_Front::getInstance()->getRequest()->getParam('id_categoria')):?>
<script>
   enableAlterar('form');
</script>
<?php else:?>
<script>
   enableCadastrar('form');
</script>
<?php endif;?>

<?php if($this->CssHelper()): ?>
<link href="<?php echo $this->baseUrl($this->CssHelper());?>" media="screen" rel="stylesheet" type="text/css">
<?php endif; ?>
<?php if($this->JsHelper()): ?>
<script type="text/javascript" src="<?php echo $this->baseUrl($this->JsHelper())?>"></script>
<?php endif; ?>