
<div id="page-wrapper">
	<div id="pageContent">
		<div class="row">
			<!-- left column -->
			<div class="col-md-12">
				<!-- general form elements -->
				<div class="box box-primary">
					<div class="box-header with-border">
						<!-- Custom Tabs -->
						<div class="nav-tabs-custom">
						    <?php echo $this->tab(
						            array('aba-categoria' => array('active' => true,'label' => 'Categoria', 'class' => 'aba-categoria','params' => array('id_categoria' => Zend_Controller_Front::getInstance()->getRequest()->getParam('id')))));
						    ?>
							<div class="tab-content">
								<div class="tab-pane" id="aba-categoria"></div>
								<!-- /.tab-pane -->
							</div>
							<!-- /.tab-content -->
						</div>
						<!-- nav-tabs-custom -->
					</div>
					<!-- /.box-header -->

				</div>
			</div>
		</div>
	</div>
</div>