
<div load-ctrl="<?php echo $this->controle;?>_<?php echo $this->acao;?>" caminho-js="<?php echo $this->baseUrl($this->JsHelper())?>">
   <div class="row">
        <div class="form-group">
            <label for="nm_grupo" class="col-sm-3 col-xs-3 control-label">Selecione um módulo:</label>
            <div class="col-sm-9 col-xs-9 col-lg-9">
        		<select ng-model="controle" class="form-control" ng-change="getActions();">
        		    <option ng-repeat="$dados in dados" value="{{$dados.controller}}">{{$dados.controller}}</option>
                </select>
        	</div>
    	</div>
   </div>
    <hr />
    <div ng-if="acao.length">
        <h3>
            <i class="fa fa-search"></i>
            Resultado
        </h3>
    </div>
    <div align="center" ng-if="acao.length" style="margin-bottom: 15px;">
        <button class="btn btn-info" id="alterar" type="button" ng-click="salvar()">Alterar</button>
    </div>
    <div class="table-responsive" ng-if="acao.length">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th class="nome">Chave</th>
					<th class="ck"><input type="checkbox" uib-tooltip="Marca todos os checkbox" ng-model="checkall" ng-change="checarTodos(checkall)" class="select-all" value="" /></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="$acao in acao">
					<td class="nome">{{$acao.action}}</td>
					<td class="ck">
						<input type="checkbox" ng-model="$acao.checked" name="vehicle">
					</td>
				</tr>
			</tbody>
		</table>
    </div>
    <div align="center" ng-if="acao.length">
        <button class="btn btn-info" id="alterar" type="button" ng-click="salvar()">Alterar</button>
    </div>
</div>
<link href="<?php echo $this->baseUrl($this->CssHelper());?>" media="screen" rel="stylesheet" type="text/css">