<!DOCTYPE html>
<html ng-app="sistema">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Painel Administrativo</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    
    <?php 
   
    echo $this->minifyHeadLink()
	    	->prependStylesheet($this->baseUrl("/media/sistema/bootstrap/css/bootstrap.min.css")) 
	    	->prependStylesheet($this->baseUrl("/media/sistema/dist/css/font-awesome.min.css"))
	    	->prependStylesheet($this->baseUrl("/media/sistema/dist/css/ionicons.min.css"))
	    	->appendStylesheet($this->baseUrl("/media/sistema/plugins/croppic/croppic.css"))
			->appendStylesheet($this->baseUrl("/media/sistema/dist/css/AdminLTE.min.css"))
			->appendStylesheet($this->baseUrl("/media/sistema/dist/css/skins/_all-skins.min.css"))
			->appendStylesheet($this->baseUrl("/media/sistema/plugins/iCheck/minimal/blue.css"))
			->appendStylesheet($this->baseUrl("/media/sistema/plugins/datatables/dataTables.bootstrap.css"))
			->appendStylesheet($this->baseUrl("/dist/js/alertify/alertify.core.css"))
			->appendStylesheet($this->baseUrl("/dist/js/alertify/alertify.default.css"))
			->appendStylesheet($this->baseUrl("/media/sistema/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css"))
			->appendStylesheet($this->baseUrl("/media/sistema/plugins/select2/select2.min.css"))
    ?>
    
    <script>
		var _baseUrl = '<?php echo $this->baseUrl("") ?>';
		var _controller = '<?php echo Zend_Controller_Front::getInstance()->getRequest()->getControllerName();?>';
		var _modulo = '<?php echo Zend_Controller_Front::getInstance()->getRequest()->getModuleName();?>';
		var _id_usuario = '<?php echo isset(Zend_Auth::getInstance()->getIdentity()->id_usuario) ? Zend_Auth::getInstance()->getIdentity()->id_usuario : '';?>';
    </script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <?php 
    if(Zend_Auth::getInstance()->hasIdentity()):
  ?>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <header class="main-header">
        <!-- Logo -->
        <a href="<?php echo $this->url(array("module" => "sistema","controller"=>"index","action"=>"index"),null,true); ?>" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>Painel</b></span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>Painel</b></span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="javascript:;" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Navegção</span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <?php $dadosUsuario = $this->GetDadosUsuario();?>
                  <img src="<?php echo $this->Imagem($dadosUsuario['arquivo'],"160","160");?>" class="user-image" alt="User Image">
                  <span class="hidden-xs"><?php echo $this->sessao->nm_usuario;?></span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <img src="<?php echo $this->Imagem($dadosUsuario['arquivo'],"160","160");?>" class="img-circle" alt="User Image">
                    <?php 
                        $date = new Zend_Date($this->sessao->ultimo_acesso_usuario);
                    ?>
                    <p>
                      <?php echo $this->sessao->nm_usuario;?> - <?php echo $this->sessao->nm_grupo;?>
                      <small>Último acesso: <?php echo $date->get("d/M/Y H:m:s");?></small>
                    </p>
                  </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="<?php echo $this->url(array("module" => "sistema","controller"=>"sca-usuario","action"=>"form",'id' => Zend_Auth::getInstance()->getIdentity()->id_usuario),null,true); ?>" class="btn btn-default btn-flat">Perfil</a>
                    </div>
                    <div class="pull-right">
                      <a href="<?php echo $this->url(array("module" => "sistema","controller"=>"index","action"=>"sair"),null,true); ?>" class="btn btn-default btn-flat">Sair</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="<?php echo $this->Imagem($dadosUsuario['arquivo'],"160","160");?>" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p><?php echo $this->sessao->nm_usuario;?></p>
              <a href="javascript:;"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>
          <!-- search form -->
          <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="Pesquisar...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form>
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">NAVEGAÇÃO</li>
            <li><a href="<?php echo $this->url(array("module" => "sistema","controller"=>"index","action"=>"index"),null,true); ?>"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
            <?php echo $this->menu(); ?>
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <?php $dados = $this->Titulo();?>
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            <a style="color:#000;" href="<?php echo $this->url(array("module" => $dados["nm_modulo"],"controller"=>$dados["nm_controller"],"action"=>$dados["nm_action"]),null,true); ?>">
              <i class="fa <?php echo $dados["icone"];?>"></i>
              <?php echo $dados["nome"];?>
            </a>
          </h1>
        </section>

        <!-- Main content -->
        <section class="content">
          <?php echo $this->layout()->content; ?>
          

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Versão</b> 1.1.1
        </div>
        <strong>Copyright &copy; <?php echo date("Y")?> <a href="http://pauloph.com.br">Painel administrativo</a>.</strong> Todos os direitos reservado.
      </footer>
      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->

    
     <?php echo $this->minifyHeadScript()->appendFile($this->baseUrl('/media/sistema/plugins/jQuery/jQuery-2.1.4.min.js'))
          ->appendFile($this->baseUrl('/media/sistema/bootstrap/js/bootstrap.min.js'))
          ->appendFile($this->baseUrl('/media/sistema/dist/js/moment.js'))
          ->appendFile($this->baseUrl('/media/sistema/dist/js/bootbox.js'))
          ->appendFile($this->baseUrl('/media/sistema/plugins/raphael/raphael-min.js'))
          ->appendFile($this->baseUrl('/media/sistema/plugins/croppic/jquery.mousewheel.min.js'))
          ->appendFile($this->baseUrl('/media/sistema/plugins/croppic/croppic.min.js'))
          ->appendFile($this->baseUrl('/media/sistema/plugins/notify/jquery.noty.packaged.min.js'))
          ->appendFile($this->baseUrl('/media/sistema/plugins/datatables/jquery.dataTables.min.js'))
          ->appendFile($this->baseUrl('/media/sistema/plugins/datatables/dataTables.bootstrap.min.js'))
          ->appendFile($this->baseUrl('/media/sistema/plugins/iCheck/icheck.min.js'))
          ->appendFile($this->baseUrl('/dist/js/alertify/alertify.js'))
          ->appendFile($this->baseUrl('/media/sistema/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js'))
          ->appendFile($this->baseUrl('/media/sistema/plugins/select2/select2.min.js'))
		  ->appendFile($this->baseUrl('/media/sistema/dist/js/app.js'))
		  ->appendFile($this->baseUrl('/media/sistema/dist/js/default.js'))
    ?>
   
     <script>
     // $.widget.bridge('uibutton', $.ui.button);
    </script>
    <?php if($this->CssHelper()): ?>
    <link href="<?php echo $this->baseUrl($this->CssHelper());?>" media="screen" rel="stylesheet" type="text/css">
    <?php endif; ?>
    <?php if($this->JsHelper()): ?>
    <script type="text/javascript" src="<?php echo $this->baseUrl($this->JsHelper())?>"></script>
    <?php endif; ?>
  </body>
  <?php 
    else:
  ?>
  <?php echo $this->layout()->content; ?>
  <?php endif;?>
  
</html>
