
<div load-ctrl="<?php echo $this->controle;?>_<?php echo $this->acao;?>" caminho-js="<?php echo $this->baseUrl($this->JsHelper())?>">

    <div class="row">
    	<div class="col-md-3 col-xs-12 col-sm-6" align="center">
    	   <div ng-if="progress">
                <uib-progressbar type="success" value="progress"><span style="color:white; white-space:nowrap;">{{progress}}%</span></uib-progressbar>
           </div>
    	   <div class="av2" align="left">
        	   <div class="av3">
            		<img loaderavatar="{{id_avatar}}" returncontrole='sca-usuario_aba-avatar' updatemodel="imagePerfil" class="av4" id="imagePerfil" ngf-select="upload($file)" ngf-pattern="'image/*'" ngf-accept="'image/*'" src="<?php  echo $this->baseUrl('assets/images/person.png')?>" ngf-max-size="20MB" ng-src="{{imagePerfil}}">
               </div>
           </div>
           <div align="center" class="av1">
                 <a class="btn btn-success btn-sm" href="javascript:;" ng-click="clickWebcam()">Webcam</a>
                 <a ng-if="imagePerfil" class="btn btn-info btn-sm" href="javascript:;" ng-click="clickRecortarImagem()">Recortar</a>
           </div>
           
    	</div>
    	<div class="col-md-9 col-xs-12 col-sm-6">
			<div class="form-inline custominput">
			    <div>
			         As imagens devem ter 192px de largura e 192px de altura<br/><br/>
			    </div>
			    <!-- permissao de salvar avatar? -->
			    <?php if(Zend_Registry::get('acl')->isAllowed($this->sessao->id_grupo, $this->controle, "salvar-avatar")):?>
				    <a ng-if="imagePerfil" class="btn btn-success btn-sm" href="javascript:;" ng-click="clickSalvar()">Salvar</a>
				<?php endif;?>
				<!-- permissao de remover avatar? -->
				<?php if(Zend_Registry::get('acl')->isAllowed($this->sessao->id_grupo, $this->controle, "remover-avatar")):?>
				    <a ng-if="imagePerfil" class="btn btn-info btn-sm" href="javascript:;" ng-click="clickRemover()">Remover</a>
				<?php endif;?>
			</div>
    	</div>
    </div>
</div>
<link href="<?php echo $this->baseUrl($this->CssHelper());?>" media="screen" rel="stylesheet" type="text/css">