
<div load-ctrl="<?php echo $this->controle;?>_<?php echo $this->acao;?>" caminho-js="<?php echo $this->baseUrl($this->JsHelper())?>">

    <form action="" id="form" novalidate="novalidate">
		<div class="form-group">
			<label for="nm_usuario" class="col-sm-2 col-xs-3 control-label">Nome:</label>
			<div class="col-sm-10 col-xs-9 col-lg-10">
				<input name="nm_usuario" ng-model="dados.nm_usuario" data-error="Nome do usuário obrigatório" data-type="string" required class="form-control"/>
			</div>
			<div style="clear: both;"></div>
		</div>
		<div class="form-group">
			<label for="login_usuario" class="col-sm-2 col-xs-3 col-lg-2 control-label">Login:</label>
			<div class="col-sm-10 col-xs-9 col-lg-10">
				<input data-error="Login Existente" data-type="string" required ng-model="dados.login_usuario" name="login_usuario" class="form-control"/>
			</div>
			<div style="clear: both;"></div>
		</div>
		<?php if(Zend_Registry::get('acl')->isAllowed($this->sessao->id_grupo, "sca-grupo", "index")):?>
		<div class="form-group">
		    <label for="id_grupo" class="col-sm-2 col-xs-12 control-label">Grupo:</label>
			<div class="col-sm-2 col-xs-3 col-lg-1">
				<input name="id_grupo" disabled="disabled" ng-model="dados.id_grupo" class="form-control"/>
			</div>
			<div class="col-sm-7 col-xs-6 col-lg-8">
				<input name="nm_grupo" ng-model="dados.nm_grupo" class="form-control"/>
			</div>
			<div class="col-sm-1 col-xs-3 col-lg-1">
				<lookup search="nm_grupo" returncontrole="<?php echo $this->controle;?>_<?php echo $this->acao;?>" controle="sca-grupo" url="<?php echo $this->url(array("controller"=>"sca-grupo", "action"=>"modal"),null,true); ?>"></lookup>
			</div>
			<div style="clear: both;"></div>
		</div>
		<?php endif;?>
		<div class="form-group">
			<label for="password_usuario" class="col-sm-2 col-xs-3 col-lg-2 control-label">Senha:</label>
			<div class="col-sm-10 col-xs-9 col-lg-10">
				<input type="password" name="password_usuario" required ng-model="dados.password_usuario" data-error="Senha obrigatório" data-type="string" class="form-control">
			</div>
			<div style="clear: both;"></div>
		</div>
		<?php if(Zend_Registry::get('acl')->isAllowed($this->sessao->id_grupo, $this->controle, "desativar") || Zend_Registry::get('acl')->isAllowed($this->sessao->id_grupo, $this->controle, "ativar")):?>
		<div class="form-group">
			<label for="st_usuario" class="col-sm-2 col-xs-3 col-lg-2 control-label">Status:</label>
			<div class="col-sm-10 col-xs-9 col-lg-4">
				<select name="st_usuario" data-error="Status obrigatório" data-type="string" required ng-model="dados.st_usuario" class="form-control">
				    <?php if(Zend_Registry::get('acl')->isAllowed($this->sessao->id_grupo, $this->controle, "desativar")):?>
				    <option value="0">Inativo</option>
				    <?php endif;?>
				    <?php if(Zend_Registry::get('acl')->isAllowed($this->sessao->id_grupo, $this->controle, "ativar")):?>
                    <option value="1">Ativo</option>
                    <?php endif;?>
                </select>
			</div>
			<div style="clear: both;"></div>
		</div>
		<?php endif;?>
		<div class="form-group" align="center">
		  <botao-acao></botao-acao>
		</div>
	</form>

</div>