<div>
    <form action="" id="form" novalidate="novalidate">
		<div class="form-group">
			<label for="nm_usuario" class="col-sm-2 col-xs-3 control-label">Nome:</label>
			<div class="col-sm-10 col-xs-9 col-lg-10">
				<input name="nm_usuario" value="<?php echo isset($this->usuario['nm_usuario']) ? $this->usuario['nm_usuario'] : ''; ?>" data-error="Nome do usuário obrigatório" data-type="string" required class="form-control"/>
			</div>
			<div style="clear: both;"></div>
		</div>
		<div class="form-group">
			<label for="login_usuario" class="col-sm-2 col-xs-3 col-lg-2 control-label">Login:</label>
			<div class="col-sm-10 col-xs-9 col-lg-10">
				<input value="<?php echo isset($this->usuario['login_usuario']) ? $this->usuario['login_usuario'] : '';?>" data-error="Login Existente" data-type="string" required name="login_usuario" class="form-control"/>
			</div>
			<div style="clear: both;"></div>
		</div>
		<?php if(Zend_Registry::get('acl')->isAllowed($this->sessao->id_grupo, $this->modulo.":sca-grupo", "index")):?>
		<div class="form-group">
		    <label for="id_grupo" class="col-sm-2 col-xs-12 control-label">Grupo:</label>
			<div class="col-sm-2 col-xs-3 col-lg-1">
				<input name="id_grupo" value="<?php echo isset($this->usuario['id_grupo']) ? $this->usuario['id_grupo'] : '';?>" readonly data-error="Grupo obrigatório" data-type="string" required class="form-control"/>
			</div>
			<div class="col-sm-7 col-xs-6 col-lg-8">
				<input value="<?php echo isset($this->usuario['nm_grupo']) ? $this->usuario['nm_grupo'] : "";?>" readonly name="nm_grupo" class="form-control"/>
			</div>
			<div class="col-sm-1 col-xs-3 col-lg-1">
			    <?php echo $this->lookup(array('campos' => array('id_grupo' => 'ID',"nm_grupo" => "NOME"),'selecionar' => array('id_grupo',"nm_grupo"),'url' => $this->url(array("module" => "sistema","controller"=>"sca-grupo", "action"=>"modal"),null,true))); ?>
				<!--  <lookup search="nm_grupo" returncontrole="<?php echo $this->controle;?>_<?php echo $this->acao;?>" controle="sca-grupo" url="<?php echo $this->url(array("module" => "sistema","controller"=>"sca-grupo", "action"=>"modal"),null,true); ?>"></lookup>-->
			</div>
			<div style="clear: both;"></div>
		</div>
		<?php endif;?>
		<div class="form-group">
			<label for="password_usuario" class="col-sm-2 col-xs-3 col-lg-2 control-label">Senha:</label>
			<div class="col-sm-10 col-xs-9 col-lg-10">
				<input type="password" name="password_usuario" required data-error="Senha obrigatório" data-type="string" class="form-control">
			</div>
			<div style="clear: both;"></div>
		</div>
		<div class="form-group">
			<label for="st_usuario" class="col-sm-2 col-xs-3 col-lg-2 control-label">Status:</label>
			<div class="col-sm-10 col-xs-9 col-lg-4">
				<select name="st_usuario" data-error="Status obrigatório" data-type="string" required class="form-control">
				    <option value="1" <?php echo isset($this->usuario['st_usuario']) && $this->usuario['st_usuario']  == 1 ? "selected='selected'" : "";?>>Ativo</option>
				    <option value="0" <?php echo isset($this->usuario['st_usuario']) && $this->usuario['st_usuario']  == 0 ? "selected='selected'" : "";?>>Inativo</option>
                </select>
			</div>
			<div style="clear: both;"></div>
		</div>
		<div class="form-group" align="center">
		  <?php 
		  $btns = array();
		  if(!isset($this->usuario['id_usuario']))
		      $btns['btn-incluir'] =  array('text' => "Incluir",'classe' => 'btn btn-success','btn' => "incluir","habilitado" => "true");
		  if(isset($this->usuario['id_usuario']))
		      $btns['btn-alterar'] =   array('text' => "Alterar",'classe' => 'btn btn-info','btn' => "alterar","habilitado" => "true");
		  if(isset($this->usuario['id_usuario']) && isset($this->usuario['id_usuario']) && $this->usuario['id_usuario']  != $this->sessao->id_usuario)
		      $btns['btn-remover'] =   array('text' => "Remover",'classe' => 'btn btn-danger','btn' => "excluir","habilitado" => (isset($this->usuario['is_root']) && $this->usuario['is_root']  == 1  ? 'false' : 'true'));
		  if(isset($this->usuario['id_usuario']))
		      $btns['btn-limpar'] =   array('text' => "Limpar",'classe' => 'btn btn-default','btn' => "limpar","habilitado" => "true");
		  echo $this->botao($btns);
		  ?>
		</div>
		<input type="hidden" name="id_usuario" id="id_usuario" value="<?php echo isset($this->usuario['id_usuario']) ? $this->usuario['id_usuario'] : "";?>"/>
	</form>

</div>
<?php if(Zend_Controller_Front::getInstance()->getRequest()->getParam('id_usuario')):?>
<script>
   enableAlterar('form');
</script>
<?php else:?>
<script>
   enableCadastrar('form');
</script>
<?php endif;?>

<?php if($this->CssHelper()): ?>
<link href="<?php echo $this->baseUrl($this->CssHelper());?>" media="screen" rel="stylesheet" type="text/css">
<?php endif; ?>
<?php if($this->JsHelper()): ?>
<script type="text/javascript" src="<?php echo $this->baseUrl($this->JsHelper())?>"></script>
<?php endif; ?>