<script>
    var $id_usuario = '<?php echo $this->usuario['id_usuario'];?>';
</script>
<div>
    <div class="row">
    	<div class="col-md-12 col-xs-12 col-sm-12" align="center">
    	   <div class="av2" align="center">
        	   <div class="cropContainerHeader">
            		<div id="cropContainerEyecandy"></div>
               </div>
           </div>
           <div align="center" class="av1">
                <div>
			         As imagens devem ter 192px de largura e 192px de altura<br/><br/>
			    </div>
                 <!-- permissao de salvar avatar? -->
                 <?php /*
			    <?php if(Zend_Registry::get('acl')->isAllowed($this->sessao->id_grupo, $this->controle, "salvar-avatar")):?>
				    <a ng-if="imagePerfil" class="btn btn-success btn-sm" href="javascript:;" ng-click="clickSalvar()">Salvar</a>
				<?php endif;?>
				<!-- permissao de remover avatar? -->
				<?php if(Zend_Registry::get('acl')->isAllowed($this->sessao->id_grupo, $this->controle, "remover-avatar")):?>
				    <a ng-if="imagePerfil" class="btn btn-info btn-sm" href="javascript:;" ng-click="clickRemover()">Remover</a>
				<?php endif;?> */ ?>
           </div>
           
    	</div>
    </div>
</div>

<style>
.cropContainerHeader {
	width: 192px;
	height: 192px;
	position:relative; /* or fixed or absolute */
	background: url('<?php echo $this->baseUrl($this->usuario['arquivo']);?>') no-repeat top center;
}
		
</style>

<?php if($this->CssHelper()): ?>
<link href="<?php echo $this->baseUrl($this->CssHelper());?>" media="screen" rel="stylesheet" type="text/css">
<?php endif; ?>
<?php if($this->JsHelper()): ?>
<script type="text/javascript" src="<?php echo $this->baseUrl($this->JsHelper())?>"></script>
<?php endif; ?>