<hr />
<div load-ctrl="<?php echo $this->controle;?>_<?php echo $this->acao;?>" caminho-js="<?php echo $this->baseUrl($this->JsHelper())?>">
    <?php if(Zend_Registry::get('acl')->isAllowed($this->sessao->id_grupo, $this->controle, "incluir-menu")):?>
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div uib-collapse="!isCollapsed">
                <a ng-click="isCollapsed = !isCollapsed" uib-tooltip="Cadastrar novo grupo" href="" class="btn btn-success btn-default">Cadastrar</a>
            </div>
            <div align="right" uib-collapse="isCollapsed" style="padding: 20px 15px 20px 0px;">
                <div>
                    <a ng-click="isCollapsed = !isCollapsed" uib-tooltip="Fechar" href="" class="btn btn-danger btn-default"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
            </div>
        </div>
    </div>
    <?php endif;?>
    <div uib-collapse="isCollapsed" ng-if="podeIncluir">
        <form action="" id="formMenu" novalidate="novalidate">
            <div class="form-group">
    			<label for="nm_usuario" class="col-sm-2 col-xs-3 control-label">Módulo:</label>
    			<div class="col-sm-10 col-xs-9 col-lg-10">
    				<input name="nm_modulo" ng-model="form.nm_modulo" data-error="Módulo obrigatório" data-type="string" required class="form-control"/>
    			</div>
    			<div style="clear: both;"></div>
    		</div>
    		<div class="form-group">
    			<label for="nm_usuario" class="col-sm-2 col-xs-3 control-label">Controller:</label>
    			<div class="col-sm-10 col-xs-9 col-lg-10">
    				<input name="nm_controller" ng-model="form.nm_controller" data-error="Controller obrigatório" data-type="string" required class="form-control"/>
    			</div>
    			<div style="clear: both;"></div>
    		</div>
    		<div class="form-group">
    			<label for="nm_usuario" class="col-sm-2 col-xs-3 control-label">Action:</label>
    			<div class="col-sm-10 col-xs-9 col-lg-10">
    				<input name="nm_action" ng-model="form.nm_action" data-error="Action obrigatório" data-type="string" required class="form-control"/>
    			</div>
    			<div style="clear: both;"></div>
    		</div>
    		<div class="form-group">
    			<label for="nm_usuario" class="col-sm-2 col-xs-3 control-label">Nome:</label>
    			<div class="col-sm-10 col-xs-9 col-lg-10">
    				<input name="nome" ng-model="form.nome" data-error="Nome obrigatório" data-type="string" required class="form-control"/>
    			</div>
    			<div style="clear: both;"></div>
    		</div>
    		<div class="form-group">
    			<label for="nm_usuario" class="col-sm-2 col-xs-3 control-label">Ordem:</label>
    			<div class="col-sm-10 col-xs-9 col-lg-10">
    				<input name="nm_usuario" ng-model="form.ordem" class="form-control"/>
    			</div>
    			<div style="clear: both;"></div>
    		</div>
    		<div class="form-group">
    			<label for="st_grupo" class="col-sm-2 col-xs-3 col-lg-2 control-label">Status:</label>
    			<div class="col-sm-10 col-xs-9 col-lg-4">
    			    <div class="select">
        				<select name="is_root" data-error="Status obrigatório" data-type="string" required ng-model="form.status" class="form-control">
        				    <option value="0">Inativo</option>
                            <option value="1">Ativo</option>
                        </select>
                    </div>
    			</div>
    			<div style="clear: both;"></div>
    		</div>
    		<?php if(Zend_Registry::get('acl')->isAllowed($this->sessao->id_grupo, $this->controle, "get-botao-menu")):?>
    		<div class="form-group" align="center">
    	      <botao-acao url="<?php echo $this->url(array("controller"=>$this->controle, "action"=>"get-botao-menu"),null,true); ?>"></botao-acao>
    	    </div>
    	    <?php endif;?>
	    </form>
    </div>
    <?php if(Zend_Registry::get('acl')->isAllowed($this->sessao->id_grupo, $this->controle, "get-menu-por-modulo")):?>
    <hr />
    <div style="margin-top: 25px; margin-bottom: 25px;" ng-if="podeIncluir">
        <h4>
            <i class="fa fa-list"></i>
            Listagem
        </h4>
    </div>
    <div class="table-responsive" ng-if="podeIncluir">
        <table ng-table="tableParams" class="table table-condensed table-striped table-hover table-bordered" show-filter="false">
            <tr ng-repeat="dados in $data">
                <td title="'Id'" sortable="'m.id'">
                    {{dados.id}}
                </td>
                <td title="'Nome'" sortable="'m.nome'">
                    {{dados.nome}}
                </td>
                <td title="'Módulo'" sortable="'m.nm_modulo'">
                    {{dados.nm_modulo}}
                </td>
                <td title="'Controller'" sortable="'m.nm_controller'">
                    {{dados.nm_controller}}
                </td>
                <td title="'Action'" sortable="'m.nm_action'">
                    {{dados.nm_action}}
                </td>
                <td title="'Ordem'" sortable="'m.ordem'">
                    {{dados.ordem}}
                </td>
                <td align="center">
                    <a uib-tooltip="Editar" ng-if="dados.alter == 'true'" ng-click="alter($event,$index)" href="javascript:;" class="btn btn-default btn-sm" ><span class="glyphicon glyphicon-pencil"></span></a> 
                    <button ng-if="dados.del == 'true'" uib-tooltip="Deletar" class="btn btn-danger btn-sm" ng-click="del($event,$index)"><span class="glyphicon glyphicon-trash"></span></button>
                </td>
            </tr>
        </table>
    </div> 
    <?php endif;?>
    <div ng-if="!podeIncluir">
        <h4>
            Para inserir um menu você deve primeiro cadastrar um módulo.
        </h4>
    </div>
</div>
<link href="<?php echo $this->baseUrl($this->CssHelper());?>" media="screen" rel="stylesheet" type="text/css">