
<div load-ctrl="<?php echo $this->controle;?>_<?php echo $this->acao;?>" caminho-js="<?php echo $this->baseUrl($this->JsHelper())?>">

    <form action="" id="form" novalidate="novalidate">
		<div class="form-group">
			<label for="nm_modulo" class="col-sm-2 col-xs-3 control-label">Nome:</label>
			<div class="col-sm-10 col-xs-9 col-lg-10">
				<input name="nome" ng-model="dados.nome" data-error="Nome obrigatório" data-type="string" required class="form-control"/>
			</div>
			<div style="clear: both;"></div>
		</div>
		<div class="form-group">
			<label for="st_modulo" class="col-sm-2 col-xs-3 col-lg-2 control-label">Ícone:</label>
			<div class="col-sm-10 col-xs-9 col-lg-4">
			    <div class="select">
    				<select class="fontawesome-select form-control" ng-model="dados.icone">
                     <?php foreach ($this->Awsome() as $key => $value):?>
                     
                     <option value="<?php echo $key;?>"><?php echo $value;?></option>
                     <?php endforeach;?>
                    </select>
                </div>
			</div>
			<div style="clear: both;"></div>
		</div>
        <div class="form-group">
			<label for="nm_modulo" class="col-sm-2 col-xs-3 control-label">Ordem:</label>
			<div class="col-sm-10 col-xs-9 col-lg-2">
				<input name="ordem" ng-model="dados.ordem" class="form-control"/>
			</div>
			<div style="clear: both;"></div>
		</div>
		<div class="form-group">
			<label for="st_modulo" class="col-sm-2 col-xs-3 col-lg-2 control-label">Status:</label>
			<div class="col-sm-10 col-xs-9 col-lg-4">
			    <div class="select">
    				<select name="status" data-error="Status obrigatório" data-type="string" required ng-model="dados.status" class="form-control">
    				    <option value="0">Inativo</option>
                        <option value="1">Ativo</option>
                    </select>
                </div>
			</div>
			<div style="clear: both;"></div>
		</div>
		<div class="form-group" align="center">
		<botao-acao></botao-acao>
		</div>
	</form>

</div>