		<!-- MasterSlider -->
		<div id="P_MS587deea2515c2" class="master-slider-parent ms-parent-id-14"  >

			
			<!-- MasterSlider Main -->
			<div id="MS587deea2515c2" class="master-slider ms-skin-default" >

						<div  class="ms-slide" data-delay="10" data-fill-mode="fill"   >
					<img src="<?php echo $this->baseUrl("media/site/images/slider1/blank.gif");?>" alt="" title="" data-src="<?php echo $this->baseUrl("media/site/images/slider1/bg.jpg");?>" />

					<img  class="ms-layer" src="<?php echo $this->baseUrl("media/site/images/slider1/blank.gif");?>" data-src="<?php echo $this->baseUrl("media/site/images/slider1/ico-16.png");?>" alt="" style=""  data-effect="t(false,50,50,n,-70,n,n,n,n,n,n,n,n,n,n)" data-duration="4000" data-delay="5550" data-ease="easeOutQuint"        data-type="image"          data-offset-x="387" data-offset-y="216" data-origin="tl" data-position="normal" />

					<img  class="ms-layer" src="<?php echo $this->baseUrl("media/site/images/slider1/blank.gif");?>" data-src="<?php echo $this->baseUrl("media/site/images/slider1/ico-4.png");?>" alt="" style=""  data-effect="t(false,200,0,n,-70,n,n,n,n,n,n,n,n,n,n)" data-duration="3987" data-delay="5925" data-ease="easeOutQuint"        data-type="image"          data-offset-x="245" data-offset-y="319" data-origin="tl" data-position="normal" />

					<img  class="ms-layer" src="<?php echo $this->baseUrl("media/site/images/slider1/blank.gif");?>" data-src="<?php echo $this->baseUrl("media/site/images/slider1/ico-6.png");?>" alt="" style=""  data-effect="t(false,400,70,n,-70,n,n,n,n,n,n,n,n,n,n)" data-duration="4000" data-delay="5550" data-ease="easeOutQuint"        data-type="image"          data-offset-x="27" data-offset-y="226" data-origin="tl" data-position="normal" />

					<img  class="ms-layer" src="<?php echo $this->baseUrl("media/site/images/slider1/blank.gif");?>" data-src="<?php echo $this->baseUrl("media/site/images/slider1/ico-15.png");?>" alt="" style=""  data-effect="t(false,-150,70,n,-70,n,n,n,n,n,n,n,n,n,n)" data-duration="4000" data-delay="5200" data-ease="easeOutQuint"        data-type="image"          data-offset-x="951" data-offset-y="382" data-origin="tl" data-position="normal" />

					<img  class="ms-layer" src="<?php echo $this->baseUrl("media/site/images/slider1/blank.gif");?>" data-src="<?php echo $this->baseUrl("media/site/images/slider1/ico-14.png");?>" alt="" style=""  data-effect="t(false,-200,100,n,-70,n,n,n,n,n,n,n,n,n,n)" data-duration="4000" data-delay="5587" data-ease="easeOutQuint"        data-type="image"          data-offset-x="1084" data-offset-y="171" data-origin="tl" data-position="normal" />

					<img  class="ms-layer" src="<?php echo $this->baseUrl("media/site/images/slider1/blank.gif");?>" data-src="<?php echo $this->baseUrl("media/site/images/slider1/ico-8.png");?>" alt="" style=""  data-effect="t(false,-200,-100,n,-70,n,n,n,n,n,n,n,n,n,n)" data-duration="4000" data-delay="5812" data-ease="easeOutQuint"        data-type="image"          data-offset-x="1039" data-offset-y="472" data-origin="tl" data-position="normal" />

					<div  class="ms-layer  msp-cn-14-25" style=""   data-effect="t(true,n,150,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="2500" data-delay="2562" data-ease="easeOutExpo"                data-offset-x="488" data-offset-y="51" data-origin="tl" data-position="normal"  >
Sites e aplicativos</div>

					<div  class="ms-layer  msp-cn-14-24" style=""   data-effect="t(true,n,150,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="2500" data-delay="2312" data-ease="easeOutExpo"                data-offset-x="565" data-offset-y="24" data-origin="tl" data-position="normal"  >
Trazendo soluções, gerando resultados!</div>

					<img  class="ms-layer" src="<?php echo $this->baseUrl("media/site/images/slider1/blank.gif");?>" data-src="<?php echo $this->baseUrl("media/site/images/slider1/ipad.png");?>" alt="" style=""  data-effect="t(false,n,450,n,n,n,n,n,0.8,0.8,n,n,n,n,n)" data-duration="2000"  data-ease="easeOutQuint"        data-type="image"          data-offset-x="377" data-offset-y="84" data-origin="tl" data-position="normal" />

					<img  class="ms-layer" src="<?php echo $this->baseUrl("media/site/images/slider1/blank.gif");?>" data-src="<?php echo $this->baseUrl("media/site/images/slider1/ipad-screen-bg.jpg");?>" alt="" style=""    data-delay="1775" data-ease="easeOutQuint"        data-type="image"          data-offset-x="470" data-offset-y="158" data-origin="tl" data-position="normal" />

					<img  class="ms-layer" src="<?php echo $this->baseUrl("media/site/images/slider1/blank.gif");?>" data-src="<?php echo $this->baseUrl("media/site/images/slider1/ipad-reflect.png");?>" alt="" style=""  data-effect="t(false,n,450,n,n,n,n,n,0.8,0.8,n,n,n,n,n)" data-duration="2000"  data-ease="easeOutQuint"        data-type="image"          data-offset-x="655" data-offset-y="121" data-origin="tl" data-position="normal" />

					<img  class="ms-layer" src="<?php echo $this->baseUrl("media/site/images/slider1/blank.gif");?>" data-src="<?php echo $this->baseUrl("media/site/images/slider1/logo-trans-stroke.png");?>" alt="" style=""  data-effect="t(true,n,n,n,n,n,n,n,0.1,0.1,n,n,n,n,n)" data-duration="1500" data-delay="4162" data-ease="easeOutExpo" data-hide-effect="t(false,n,n,n,n,n,n,n,0.5,0.5,n,n,n,n,n)" data-hide-duration="1200"  data-hide-ease="easeInExpo" data-hide-time="6662"   data-type="image"          data-offset-x="604" data-offset-y="234" data-origin="tl" data-position="normal" />

					<img  class="ms-layer" src="<?php echo $this->baseUrl("media/site/images/slider1/blank.gif");?>" data-src="<?php echo $this->baseUrl("media/site/images/slider1/ico-11.png");?>" alt="" style=""  data-effect="t(false,250,-49,n,45,n,n,n,n,n,n,n,n,n,n)" data-duration="3000" data-delay="5287" data-ease="easeOutExpo"        data-type="image"          data-offset-x="377" data-offset-y="356" data-origin="tl" data-position="normal" />

					<img  class="ms-layer" src="<?php echo $this->baseUrl("media/site/images/slider1/blank.gif");?>" data-src="<?php echo $this->baseUrl("media/site/images/slider1/ico-7.png");?>" alt="" style=""  data-effect="t(false,400,100,n,-70,n,n,n,n,n,n,n,n,n,n)" data-duration="3000" data-delay="5425" data-ease="easeOutExpo"        data-type="image"          data-offset-x="247" data-offset-y="167" data-origin="tl" data-position="normal" />

					<img  class="ms-layer" src="<?php echo $this->baseUrl("media/site/images/slider1/blank.gif");?>" data-src="<?php echo $this->baseUrl("media/site/images/slider1/ico-3.png");?>" alt="" style=""  data-effect="t(false,510,190,n,-125,n,n,n,n,n,n,n,n,n,n)" data-duration="2500" data-delay="5200" data-ease="easeOutExpo"        data-type="image"          data-offset-x="115" data-offset-y="99" data-origin="tl" data-position="normal" />

					<img  class="ms-layer" src="<?php echo $this->baseUrl("media/site/images/slider1/blank.gif");?>" data-src="<?php echo $this->baseUrl("media/site/images/slider1/ico-5.png");?>" alt="" style=""  data-effect="t(false,530,-80,n,-165,n,n,n,n,n,n,n,n,n,n)" data-duration="3000" data-delay="5637" data-ease="easeOutExpo"        data-type="image"          data-offset-x="96" data-offset-y="375" data-origin="tl" data-position="normal" />

					<img  class="ms-layer" src="<?php echo $this->baseUrl("media/site/images/slider1/blank.gif");?>" data-src="<?php echo $this->baseUrl("media/site/images/slider1/ico-12.png");?>" alt="" style=""  data-effect="t(false,400,-140,n,-70,n,n,n,n,n,n,n,n,n,n)" data-duration="2700" data-delay="5737" data-ease="easeOutExpo"        data-type="image"          data-offset-x="237" data-offset-y="459" data-origin="tl" data-position="normal" />

					<img  class="ms-layer" src="<?php echo $this->baseUrl("media/site/images/slider1/blank.gif");?>" data-src="<?php echo $this->baseUrl("media/site/images/slider1/ico-10.png");?>" alt="" style=""  data-effect="t(false,-260,100,n,-70,n,n,n,n,n,n,n,n,n,n)" data-duration="3000" data-delay="5375" data-ease="easeOutExpo"        data-type="image"          data-offset-x="947" data-offset-y="180" data-origin="tl" data-position="normal" />

					<img  class="ms-layer" src="<?php echo $this->baseUrl("media/site/images/slider1/blank.gif");?>" data-src="<?php echo $this->baseUrl("media/site/images/slider1/ico-13.png");?>" alt="" style=""  data-effect="t(false,-400,0,n,-70,n,n,n,n,n,n,n,n,n,n)" data-duration="2400" data-delay="5800" data-ease="easeOutExpo"        data-type="image"          data-offset-x="1099" data-offset-y="307" data-origin="tl" data-position="normal" />

					<img  class="ms-layer" src="<?php echo $this->baseUrl("media/site/images/slider1/blank.gif");?>" data-src="<?php echo $this->baseUrl("media/site/images/slider1/ico-1.png");?>" alt="" style=""  data-effect="t(true,-540,70,n,150,n,n,n,n,n,n,n,n,n,n)" data-duration="2400" data-delay="5887" data-ease="easeOutExpo"        data-type="image"          data-offset-x="1236" data-offset-y="216" data-origin="tl" data-position="normal" />

					<img  class="ms-layer" src="<?php echo $this->baseUrl("media/site/images/slider1/blank.gif");?>" data-src="<?php echo $this->baseUrl("media/site/images/slider1/ico-9.png");?>" alt="" style=""  data-effect="t(false,-360,250,n,-70,n,n,n,n,n,n,n,n,n,n)" data-duration="3000" data-delay="5950" data-ease="easeOutExpo"        data-type="image"          data-offset-x="1065" data-offset-y="45" data-origin="tl" data-position="normal" />

					<img  class="ms-layer" src="<?php echo $this->baseUrl("media/site/images/slider1/blank.gif");?>" data-src="<?php echo $this->baseUrl("media/site/images/slider1/ico-2.png");?>" alt="" style=""  data-effect="t(false,-520,-140,n,-70,n,n,n,n,n,n,n,n,n,n)" data-duration="3000" data-delay="6037" data-ease="easeOutExpo"        data-type="image"          data-offset-x="1204" data-offset-y="440" data-origin="tl" data-position="normal" />

					<img  class="ms-layer" src="<?php echo $this->baseUrl("media/site/images/slider1/blank.gif");?>" data-src="<?php echo $this->baseUrl("media/site/images/slider1/logo-white-stroke.png");?>" alt="" style=""  data-effect="t(true,n,n,n,n,n,n,n,0.1,0.1,n,n,n,n,n)" data-duration="2000" data-delay="2125" data-ease="easeOutExpo"        data-type="image"          data-offset-x="566" data-offset-y="196" data-origin="tl" data-position="normal" />

					<img  class="ms-layer" src="<?php echo $this->baseUrl("media/site/images/slider1/blank.gif");?>" data-src="<?php echo $this->baseUrl("media/site/images/slider1/logo.gif");?>" alt="" style=""  data-effect="t(true,n,n,n,n,n,n,n,0.1,0.1,n,n,n,n,n)" data-duration="2000" data-delay="2400" data-ease="easeOutExpo"        data-type="image"          data-offset-x="659" data-offset-y="307" data-origin="tl" data-position="normal" />

					<img  class="ms-layer" src="<?php echo $this->baseUrl("media/site/images/slider1/blank.gif");?>" data-src="<?php echo $this->baseUrl("media/site/images/slider1/hand.png");?>" alt="" style=""  data-effect="t(false,n,300,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="2400" data-delay="2975" data-ease="easeOutQuint" data-hide-effect="t(false,n,300,n,n,n,n,n,n,n,n,n,n,n,n)" data-hide-duration="2000"  data-hide-ease="easeInExpo" data-hide-time="5875"   data-type="image"          data-offset-x="672" data-offset-y="343" data-origin="tl" data-position="normal" />


				</div>
							<div  class="ms-slide" data-delay="6" data-fill-mode="fill"   >
					<img src="<?php echo $this->baseUrl("media/site/images/slider2/blank.gif");?>" alt="" title="" data-src="<?php echo $this->baseUrl("media/site/images/slider2/bg.png");?>" />

					<img  class="ms-layer" src="<?php echo $this->baseUrl("media/site/images/slider2/blank.gif");?>" data-src="<?php echo $this->baseUrl("media/site/images/slider2/imac.png");?>" alt="" style=""  data-effect="t(true,150,n,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="2000"  data-ease="easeOutQuint"        data-type="image"          data-offset-x="856" data-offset-y="182" data-origin="tl" data-position="normal" />

					<img  class="ms-layer" src="<?php echo $this->baseUrl("media/site/images/slider2/blank.gif");?>" data-src="<?php echo $this->baseUrl("media/site/images/slider2/macbook.png");?>" alt="" style=""  data-effect="t(true,-150,n,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="2000" data-delay="712" data-ease="easeOutQuint"        data-type="image"          data-offset-x="514" data-offset-y="302" data-origin="tl" data-position="normal" />

					<img  class="ms-layer" src="<?php echo $this->baseUrl("media/site/images/slider2/blank.gif");?>" data-src="<?php echo $this->baseUrl("media/site/images/slider2/ipad1.png");?>" alt="" style=""  data-effect="t(true,n,-21,n,n,n,n,n,1.5,1.5,n,n,n,n,n)" data-duration="2000" data-delay="337" data-ease="easeOutQuint"        data-type="image"          data-offset-x="771" data-offset-y="333" data-origin="tl" data-position="normal" />

					<img  class="ms-layer" src="<?php echo $this->baseUrl("media/site/images/slider2/blank.gif");?>" data-src="<?php echo $this->baseUrl("media/site/images/slider2/iphone.png");?>" alt="" style=""  data-effect="t(false,-50,330,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="2500" data-delay="1612" data-ease="easeInOutQuad"        data-type="image"          data-offset-x="139" data-offset-y="250" data-origin="tl" data-position="normal" />

					<img  class="ms-layer" src="<?php echo $this->baseUrl("media/site/images/slider2/blank.gif");?>" data-src="<?php echo $this->baseUrl("media/site/images/slider2/hand.png");?>" alt="" style=""  data-effect="t(false,100,330,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="2000" data-delay="2962" data-ease="easeOutQuad"        data-type="image"          data-offset-x="514" data-offset-y="358" data-origin="tl" data-position="normal" />

					<div  class="ms-layer  msp-cn-14-32" style=""   data-effect="t(true,-700,n,n,n,n,n,n,n,n,40,n,n,n,n)" data-duration="2000" data-delay="1512" data-ease="easeOutQuint"                data-offset-x="471" data-offset-y="163" data-origin="tl" data-position="normal"  >
Touch Swipe Navigation</div>

					<div  class="ms-layer  msp-cn-14-33" style=""   data-effect="t(true,-700,n,n,n,n,n,n,n,n,40,n,n,n,n)" data-duration="2000" data-delay="1262" data-ease="easeOutQuint"                data-offset-x="634" data-offset-y="101" data-origin="tl" data-position="normal"  >
Responsive &amp;</div>


				</div>

			</div>
			<!-- END MasterSlider Main -->

			 
		</div>
		<!-- END MasterSlider -->