<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th class="nome">Chave</th>
			<th class="ck"> <input type="checkbox" uib-tooltip="Marca todos os checkbox"  class="select-all" value="" /></th>
		</tr>
	</thead>
	<tbody class="listaAction">
	    <?php 
	    $acao = $this->acao;
	    if($acao):
	    foreach ($acao as $value):
	    ?>
		<tr>
			<td class="nome"><?php echo $value['action'];?></td>
			<td class="ck">
    			 <div class="checkbox icheck">
                    <label>
                      <input value="<?php echo $value['id'];?>" type="checkbox" <?php echo $value['checked'] == true ? "checked" : "";?> name="actions">
                    </label>
                </div>
				
			</td>
		</tr>
		<?php 
		  endforeach;
		  endif;
		?>
	</tbody>
</table>
<script>
$(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_minimal-blue',
      radioClass: 'iradio_minimal-blue',
      increaseArea: '20%' // optional
    });
    // checar todos
    $('.select-all').on('ifChecked', function(event){
    	$('.listaAction').find('input[type=checkbox]').each(function(index){
			$(this).iCheck('check');
		});
	});
    // descelecionar todos
    $('.select-all').on('ifUnchecked', function(event){
    	$('.listaAction').find('input[type=checkbox]').each(function(index){
			$(this).iCheck('uncheck');
		});
	});
  });


</script>