<?php $dadosServidor = $this->Servidor();
?>
<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3><?php echo round($dadosServidor['disk_free_space'])?> <sup style="font-size: 20px">GB</sup></h3>
          <p>Espaço livre em disco</p>
        </div>
        <div class="icon">
          <i class="ion-pie-graph"></i>
        </div>
        <a href="#" class="small-box-footer"><i class="ion-code-working"></i></a>
      </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <h3><?php echo round($dadosServidor['totaldiskspace'])?> <sup style="font-size: 20px">GB</sup></h3>
          <p>Espaço total no disco</p>
        </div>
        <div class="icon">
          <i class="ion-pie-graph"></i>
        </div>
        <a href="#" class="small-box-footer"><i class="ion-code-working"></i></a>
      </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3>IP</h3>
          <p><?php echo $dadosServidor['ip']?></p>
        </div>
        <a href="#" class="small-box-footer"><i class="ion-code-working"></i></a>
      </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-red">
        <div class="inner">
          <h3><?php echo $this->TotalUsuario();?></h3>
          <p>Usuários</p>
        </div>
        <div class="icon">
          <i class="ion-person-stalker"></i>
        </div>
        <a href="#" class="small-box-footer"><i class="ion-code-working"></i></a>
      </div>
    </div><!-- ./col -->
</div><!-- /.row -->