<?php $controle = Zend_Controller_Front::getInstance()->getRequest()->getControllerName()."_".Zend_Controller_Front::getInstance()->getRequest()->getActionName();?>

<body class="hold-transition login-page" ng-controller="<?php echo $controle;?>">
    <div class="login-box">
      <div class="login-logo">
        <a href=""><b>Painel</b></a>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Painel administrativo</p>
        <form action="<?php echo $this->url(array("module" => "sistema","controller"=>"index", "action"=>"logar"),null,true); ?>" method="post" role="form" id="formLogin" novalidate="novalidate">
          <div class="form-group has-feedback">
            <input type="text" name="login_usuario" data-error="Usuário obrigatório" data-type="string" required ng-model="login_usuario" class="form-control" placeholder="Login">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input type="password" data-error="Senha obrigatório" data-type="string" required ng-model="password_usuario" name="password_usuario" class="form-control" placeholder="Senha">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="row">
            <div class="col-xs-8">
              <div class="checkbox icheck">
                <label>
                  <input ng-model="lembrar" name="lembrar" value="1" type="checkbox"> Lembrar
                </label>
              </div>
            </div><!-- /.col -->
            <div class="col-xs-4">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Ok</button>
            </div><!-- /.col -->
          </div>
        </form>

      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
    
     <?php echo $this->headScript()->appendFile($this->baseUrl('/media/sistema/plugins/jQuery/jQuery-2.1.4.min.js'))
          ->appendFile($this->baseUrl('/media/sistema/bootstrap/js/bootstrap.min.js'))
          ->appendFile($this->baseUrl('/media/sistema/plugins/notify/jquery.noty.packaged.min.js'))
          ->appendFile($this->baseUrl('/media/sistema/dist/js/default.js'))
		  ->appendFile($this->baseUrl('/media/sistema/plugins/iCheck/icheck.min.js'))
		 
    ?>

    <?php echo $this->CssHelper();?>
    <?php if($this->CssHelper()): ?>
    <link href="<?php echo $this->baseUrl($this->CssHelper());?>" media="screen" rel="stylesheet" type="text/css">
    <?php endif; ?>
    <?php if($this->JsHelper()): ?>
    <script type="text/javascript" src="<?php echo $this->baseUrl($this->JsHelper())?>"></script>
    <?php endif; ?>
  </body>