
<div>
    <form action="" id="form" novalidate="novalidate">
		<div class="form-group">
			<label for="nome" class="col-sm-2 col-xs-3 control-label">Nome:</label>
			<div class="col-sm-10 col-xs-9 col-lg-10">
				<input name="nome" value="<?php echo isset($this->modulo['nome']) ? $this->modulo['nome'] : ''; ?>" data-error="Nome obrigatório" data-type="string" required class="form-control"/>
			</div>
			<div style="clear: both;"></div>
		</div>
		<div class="form-group">
			<label for="icone" class="col-sm-2 col-xs-3 col-lg-2 control-label">Ícone:</label>
			<div class="col-sm-10 col-xs-9 col-lg-4">
				<select name="icone" class="form-control wpmse_select2 fontawesome-select">
				    <?php foreach ($this->Awsome() as $key => $value):?>
				    <option <?php echo isset($this->modulo['icone']) && $this->modulo['icone'] == $key ? "selected='selected'" : "";?> value="<?php echo $key;?>" data-icon="<?php echo $value;?>" value=""><?php echo $key;?></option>
				    <?php endforeach;?>
                </select>
			</div>
			<div style="clear: both;"></div>
		</div>
		<div class="form-group">
			<label for="ordem" class="col-sm-2 col-xs-3 col-lg-2 control-label">Ordem</label>
			<div class="col-sm-10 col-xs-9 col-lg-4">
				<select name="ordem" class="form-control">
				    <?php for($i=1;$i<100;$i++):?>
				    <option <?php echo isset($this->modulo['ordem']) && $this->modulo['ordem'] == $i ? "selected='selected'" : "";?> value="<?php echo $i;?>"><?php echo $i;?> °</option>
				    <?php endfor;?>
                </select>
			</div>
			<div style="clear: both;"></div>
		</div>
		<div class="form-group">
			<label for="status" class="col-sm-2 col-xs-3 col-lg-2 control-label">Status:</label>
			<div class="col-sm-10 col-xs-9 col-lg-4">
				<select name="status" class="form-control">
				    <option <?php echo isset($this->modulo['status']) && $this->modulo['status'] == 1 ? "selected='selected'" : "";?> value="1">Ativo</option>
				    <option <?php echo isset($this->modulo['status']) && $this->modulo['status'] == 0 ? "selected='selected'" : "";?> value="0">Inativo</option>
                </select>
			</div>
			<div style="clear: both;"></div>
		</div>
		<div class="form-group" align="center">
		<?php 
		  $btns = array();
		  if(!isset($this->modulo['id']))
		      $btns['btn-incluir'] =  array('text' => "Incluir",'classe' => 'btn btn-success','btn' => "incluir","habilitado" => "true");
		  if(isset($this->modulo['id']))
		      $btns['btn-alterar'] =   array('text' => "Alterar",'classe' => 'btn btn-info','btn' => "alterar","habilitado" => "true");
		  if(isset($this->modulo['id']))
		      $btns['btn-remover'] =   array('text' => "Remover",'classe' => 'btn btn-danger','btn' => "excluir","habilitado" => "true");
		  if(isset($this->modulo['id']))
		      $btns['btn-limpar'] =   array('text' => "Limpar",'classe' => 'btn btn-default','btn' => "limpar","habilitado" => "true");
		  echo $this->botao($btns);
		  ?>
		</div>
		<input type="hidden" name="id" id="id" value="<?php echo isset($this->modulo['id']) ? $this->modulo['id'] : "";?>"/>
	</form>

</div>
<?php if(Zend_Controller_Front::getInstance()->getRequest()->getParam('id')):?>
<script>
   enableAlterar('form');
</script>
<?php else:?>
<script>
   enableCadastrar('form');
</script>
<?php endif;?>

<?php if($this->CssHelper()): ?>
<link href="<?php echo $this->baseUrl($this->CssHelper());?>" media="screen" rel="stylesheet" type="text/css">
<?php endif; ?>
<?php if($this->JsHelper()): ?>
<script type="text/javascript" src="<?php echo $this->baseUrl($this->JsHelper())?>"></script>
<?php endif; ?>