 <?php if(Zend_Registry::get('acl')->isAllowed($this->sessao->id_grupo, $this->modulo.":".$this->controle, "incluir-menu") || Zend_Registry::get('acl')->isAllowed($this->sessao->id_grupo, $this->modulo.":".$this->controle, "alterar-menu")):?>
<div>
    <form action="" id="formMenu" class="formMenu" novalidate="novalidate">
    	<div class="form-group">
    		<label for="nome" class="col-sm-2 col-xs-3 control-label">Nome:</label>
    		<div class="col-sm-10 col-xs-9 col-lg-10">
    			<input name="nome" value="<?php echo isset($this->modulo['nome']) ? $this->modulo['nome'] : ''; ?>" data-error="Nome obrigatório" data-type="string" required class="form-control"/>
    		</div>
    		<div style="clear: both;"></div>
    	</div>
    	<div class="form-group">
    		<label for="nm_controller" class="col-sm-2 col-xs-3 col-lg-2 control-label">Controller:</label>
    		<div class="col-sm-10 col-xs-9 col-lg-4">
    			<select name="nm_controller" onchange="getActions(this.value,$(this).attr('data-selected'));" class="form-control" data-error="Controller obrigatório" data-type="select" required>
        		    <option value="">Selecione um controller</option>
        		    <?php foreach($this->Controllers() as $controle):?>
        		      <option value="<?php echo $controle['controller']?>"><?php echo $controle['controller']?></option>
        		    <?php endforeach;?>
                </select>
    		</div>
    		<div style="clear: both;"></div>
    	</div>
    	<div class="form-group">
    		<label for="nm_action" class="col-sm-2 col-xs-3 col-lg-2 control-label">Ação:</label>
    		<div class="col-sm-10 col-xs-9 col-lg-4">
    			<select name="nm_action" disabled="disabled" class="form-control acaoSelect" data-error="Ação obrigatório" data-type="select" required>
        		    <option value="">Selecione uma ação</option>
                </select>
    		</div>
    		<div style="clear: both;"></div>
    	</div>
    	<div class="form-group">
    		<label for="ordem" class="col-sm-2 col-xs-3 col-lg-2 control-label">Ordem</label>
    		<div class="col-sm-10 col-xs-9 col-lg-4">
    			<select name="ordem" class="form-control" data-error="Ordem obrigatório" data-type="select" required>
    			    <?php for($i=1;$i<100;$i++):?>
    			    <option <?php echo isset($this->modulo['ordem']) && $this->modulo['ordem'] == $i ? "selected='selected'" : "";?> value="<?php echo $i;?>"><?php echo $i;?> °</option>
    			    <?php endfor;?>
                </select>
    		</div>
    		<div style="clear: both;"></div>
    	</div>
    	<div class="form-group">
    		<label for="status" class="col-sm-2 col-xs-3 col-lg-2 control-label">Status:</label>
    		<div class="col-sm-10 col-xs-9 col-lg-4">
    			<select name="status" class="form-control" data-error="Status obrigatório" data-type="select" required>
    			    <option <?php echo isset($this->modulo['status']) && $this->modulo['status'] == 1 ? "selected='selected'" : "";?> value="1">Ativo</option>
    			    <option <?php echo isset($this->modulo['status']) && $this->modulo['status'] == 0 ? "selected='selected'" : "";?> value="0">Inativo</option>
                </select>
    		</div>
    		<div style="clear: both;"></div>
    	</div>
    	<div class="form-group" align="center">
    	    <?php if(Zend_Registry::get('acl')->isAllowed($this->sessao->id_grupo, $this->modulo.":".$this->controle, "incluir-menu")):?>
        	<button style="display: none;" class="btn btn-success incluir" onclick="btnAcaoMenu('incluir')" type="button">Incluir</button>
        	<?php endif;?>
        	<?php if(Zend_Registry::get('acl')->isAllowed($this->sessao->id_grupo, $this->modulo.":".$this->controle, "alterar-menu")):?>
        	<button style="display: none;" class="btn btn-info alterar" onclick="btnAcaoMenu('alterar')" type="button">Alterar</button>
        	<?php endif;?>
        	<?php if(Zend_Registry::get('acl')->isAllowed($this->sessao->id_grupo, $this->modulo.":".$this->controle, "excluir-menu")):?>
        	<button style="display: none;" class="btn btn-danger excluir" onclick="btnAcaoMenu('excluir')" type="button">Remover</button>
        	<?php endif;?>
        	<button style="display: none;" class="btn btn-default limpar" onclick="btnAcaoMenu('limpar')" type="button">Limpar</button> 
    	</div>
    	<input type="hidden" name="id" id="id" value="<?php echo isset($this->menu['id']) ? $this->menu['id'] : "";?>"/>
    	<input type="hidden" name="modulo_id" id="modulo_id" value="<?php echo Zend_Controller_Front::getInstance()->getRequest()->getParam('modulo_id') ? Zend_Controller_Front::getInstance()->getRequest()->getParam('modulo_id') : "";?>"/>
    </form>
</div>
<hr />
<?php endif;?>
<div class="resultado">
    <h4>
        Menus
    </h4>
</div>
<div class="resultCadastro">
    <div class="table-responsive resultado listarMenus">
    	<table class="table table-striped table-hover reloadTable">
        	<thead>
        		<tr>
        			<th class="nome">Nome</th>
        			<th class="nome">Módulo</th>
        			<th class="nome">Controller</th>
        			<th class="nome">Ação</th>
        			<th class="nome">Ordem</th>
        			<th class="ck"> Editar / Remover</th>
        		</tr>
        	</thead>
        	<tbody class="listaAction">
        	    <?php 
        	    if($this->menu):
        	    foreach ($this->menu["res"] as $key => $value):
        	    ?>
        		<tr>
        			<td class="nome"><?php echo $value['nome'];?></td>
        			<td class="nome"><?php echo $value['nm_modulo'];?></td>
        			<td class="nome"><?php echo $value['nm_controller'];?></td>
        			<td class="nome"><?php echo $value['nm_action'];?></td>
        			<td class="nome"><?php echo $value['ordem'];?> °</td>
        			<td class="ck">
        			    <?php if(Zend_Registry::get('acl')->isAllowed($this->sessao->id_grupo, $this->modulo.":".$this->controle, "alterar-menu")):?>
            			<a href="javascript:;" onclick="editarMenu({'modulo_id':<?php echo $value['modulo_id']; ?>,'id':<?php echo $value['id']; ?>,nome:'<?php echo $value['nome']; ?>',mn_modulo:'<?php echo $value['nm_modulo'];?>',nm_controller:'<?php echo $value['nm_controller'];?>',nm_action:'<?php echo $value['nm_action'];?>',ordem:<?php echo $value['ordem'];?>,status:<?php echo $value['status'];?>})" class="btn btn-info btn-sm">Editar</a>
            			<?php endif;?>
            			<?php if(Zend_Registry::get('acl')->isAllowed($this->sessao->id_grupo, $this->modulo.":".$this->controle, "excluir-menu")):?>
            			<a href="javascript:;" onclick="excluirMenu({'modulo_id':<?php echo $value['modulo_id']; ?>,'id':<?php echo $value['id']; ?>})" class="btn btn-danger btn-sm">Remover</a>
            			<?php endif;?>
        			</td>
        		</tr>
        		<?php 
        		  endforeach;
        		  endif;
        		?>
        	</tbody>
        </table>	
    </div>
</div>
<?php if($this->CssHelper()): ?>
<link href="<?php echo $this->baseUrl($this->CssHelper());?>" media="screen" rel="stylesheet" type="text/css">
<?php endif; ?>
<?php if($this->JsHelper()): ?>
<script type="text/javascript" src="<?php echo $this->baseUrl($this->JsHelper())?>"></script>
<?php endif; ?>