 <div class="row">
    <div class="col-lg-12 col-xs-12">
        <div style="background: #fff; padding: 15px 0px;">
            <?php if(Zend_Registry::get('acl')->isAllowed($this->sessao->id_grupo, $this->modulo.":".$this->controle, "incluir")):?>
                <a class="btn btn-app" href="<?php echo $this->url(array("module" => $this->modulo,"controller"=>$this->controle, "action"=>"form"),null,true); ?>">
                   <i class="fa fa-plus-square-o"></i> Cadastrar
                </a>
            <?php endif;?>
            <a class="btn btn-app" href="javascript:;" onclick="atualizarTabela()">
                <i class="fa fa-refresh"></i> Atualizar
            </a>
            <a class="btn btn-app" href="javascript:;" onclick="excluirSelecionados()">
                <i class="fa fa-times"></i> Excluir Seleção
            </a>
        </div>   
     </div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<!-- /.box-header -->
			<div class="box-body">
				<table id="tablesGeral" class="table table-bordered table-hover">
					<thead>
						<tr>
						    <th><input name="select_all" value="1" id="example-select-all" type="checkbox" /></th>
							<th>Id</th>
							<th>Nome</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
				</table>
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>
	<!-- /.col -->
</div>
<!-- /.row -->