<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
	<table cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;width:100%">
		<tbody>
			<tr>
				<td style="font-family:'lucida grande',tahoma,verdana,arial,sans-serif;font-size:12px;padding:0px;background:#e0e1e5">
					<table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;width:100%">
						<tbody>
							<tr>
								<td style="font-size:11px;font-family:LucidaGrande,tahoma,verdana,arial,sans-serif;padding:0;border-left:none;border-right:none;border-top:none;border-bottom:none">
									<table width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
										<tbody>
											<tr>
												<td style="padding:0;width:100%">													
													<table width="100%" cellspacing="0" cellpadding="0" bgcolor="#373435" style="border-collapse:collapse;width:100%;background:#373435;height:47px">
														<tbody>
															<tr>
																<td>
																	<center>
																		<table width="610" cellspacing="0" cellpadding="0" height="44" style="border-collapse:collapse">
																			<tbody>
																				<tr>
																					<td align="left" style="width:100%;line-height:0">
																						<table cellspacing="0" cellpadding="0" style="border-collapse:collapse">
																							<tbody>
																								<tr>
																									<td width="19">
																										<a target="_blank" style="color:#3b5998;text-decoration:none;" href="javascript://">
																											<img height="38" src="http://radicaislivres.com/loja/image/catalog/radicaislivres/logo.png" />	
																										</a>
																									</td>																									
																								</tr>
																							</tbody>
																						</table>
																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</center>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
											
											<tr>
												<td style="padding:0;width:100%">
													<table width="100%" cellspacing="0" cellpadding="0" bgcolor="#e0e1e5" style="border-collapse:collapse">
														<tbody>
															<tr>
																<td>
																	<table width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
																		<tbody>
																			<tr>
																				<td height="19">&nbsp;</td>
																			</tr>
																		</tbody>
																	</table>
																	<center>
																		<table width="610" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
																			<tbody>
																				<tr>
																					<td align="left" style="background-color:#ffffff;border-color:#c1c2c4;border-style:solid;display:block;border-width:1px;border-radius:5px;overflow:hidden">
																						<table width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
																							<tbody>
																								<tr>
																									<td style="padding:15px">
																									<table cellspacing="0" cellpadding="0" style="border-collapse:collapse;width:100%">
																										<tbody>
																											<tr>
																												<td style="font-size:11px;font-family:LucidaGrande,tahoma,verdana,arial,sans-serif;padding-bottom:6px">
																													<div>
																														{{ body }}
																													</div>																																																																																						
																												</td>
																											</tr>
																											<tr>
																												<td style="font-size:11px;font-family:LucidaGrande,tahoma,verdana,arial,sans-serif;padding-top:6px;padding-bottom:6px">
																													<center>
																														<table cellspacing="0" cellpadding="0" style="border-collapse:collapse">
																															<tbody>
																																<tr>
																																	<td style="font-size:11px;font-family:LucidaGrande,tahoma,verdana,arial,sans-serif;padding:10px;background-color:#f2f2f2;border-left:1px solid #ccc;border-right:1px solid #ccc;border-top:1px solid #ccc;border-bottom:1px solid #ccc">
																																	<strong>{{ bodycodigo }}</strong>
																																	</td>
																																</tr>
																															</tbody>
																														</table>
																													</center>
																												</td>
																											</tr>
																											<tr>
																												<td style="font-size:11px;font-family:LucidaGrande,tahoma,verdana,arial,sans-serif;padding-top:6px;padding-bottom:6px">
																													<div>
																														{{ bodyalerta }}
																													</div>																																																										
																												</td>
																											</tr>
																											
																									</tbody>
																								</table>
																							</td>
																						</tr>
																					</tbody>
																				</table>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</center>
														</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
									
									
									<tr>
										<td style="padding:0;width:100%">
											<table width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
												<tbody>
													<tr>
														<td>
															<center>
																<table width="610" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
																	<tbody>
																		<tr>
																			<td>
																				<table width="610" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse">
																					<tbody>
																						<tr>
																							<td style="font-size:12px;font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;padding:18px 0;border-left:none;border-right:none;border-top:none;border-bottom:none;color:#6a7180;font-weight:300;line-height:16px;text-align:center;border:none">																								
																								Copyright © 2015 Radicais Livres. Todos os direitos reservados. 
																							</td>
																						</tr>
																					</tbody>
																				</table>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</center>
														</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
									
							
									
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
</body>
</html>