<div>
    <form action="" id="form" novalidate="novalidate">
		<div class="form-group">
			<label for="nm_senha" class="col-sm-2 col-xs-3 control-label">Título:</label>
			<div class="col-sm-10 col-xs-9 col-lg-10">
				<input name="nm_senha" value="<?php echo isset($this->senha['nm_senha']) ? $this->senha['nm_senha'] : ''; ?>" data-error="Título obrigatório" data-type="string" required class="form-control"/>
			</div>
			<div style="clear: both;"></div>
		</div>
		<div class="form-group">
			<label for="nm_login" class="col-sm-2 col-xs-3 control-label">Login:</label>
			<div class="col-sm-10 col-xs-9 col-lg-10">
				<input name="nm_login" value="<?php echo isset($this->senha['nm_login']) ? $this->senha['nm_login'] : ''; ?>" class="form-control"/>
			</div>
			<div style="clear: both;"></div>
		</div>
		<?php if(Zend_Registry::get('acl')->isAllowed($this->sessao->id_grupo, $this->modulo.":sgp-categoria", "index")):?>
		<div class="form-group">
		    <label for="id_grupo" class="col-sm-2 col-xs-12 control-label">Categoria:</label>
			<div class="col-sm-2 col-xs-3 col-lg-1">
				<input name="id_categoria" value="<?php echo isset($this->senha['id_categoria']) ? $this->senha['id_categoria'] : '';?>" readonly data-error="Categoria obrigatório" data-type="string" required class="form-control"/>
			</div>
			<div class="col-sm-7 col-xs-6 col-lg-8">
				<input value="<?php echo isset($this->senha['nm_categoria']) ? $this->senha['nm_categoria'] : "";?>" readonly name="nm_categoria" class="form-control"/>
			</div>
			<div class="col-sm-1 col-xs-3 col-lg-1">
			    <?php echo $this->lookup(array('campos' => array('id_categoria' => 'ID',"nm_categoria" => "NOME"),'selecionar' => array('id_categoria',"nm_categoria"),'url' => $this->url(array("module" => "sistema","controller"=>"sgp-categoria", "action"=>"modal"),null,true))); ?>
			</div>
			<div style="clear: both;"></div>
		</div>
		<?php endif;?>
		<div class="form-group">
			<label for="senha" class="col-sm-2 col-xs-3 control-label">Senha:</label>
			<div class="col-sm-10 col-xs-9 col-lg-7">
				<input type="password" name="senha" value="<?php echo isset($this->senha['senha']) ? $this->senha['senha'] : ''; ?>" data-error="Senha obrigatório" data-type="string" required class="form-control"/>
			</div>
			<div class="col-sm-10 col-xs-9 col-lg-3">
				<button class="btn btn-info gerar-senha" type="button">Gerar Senha</button>
				<button class="btn btn-default mostrar-senha" type="button"><i class="fa fa-eye"></i></button>
			</div>
			<div style="clear: both;"></div>
		</div>
		<div class="form-group">
			<label for="login_url" class="col-sm-2 col-xs-3 control-label">Login Url:</label>
			<div class="col-sm-10 col-xs-9 col-lg-10">
				<input pattern="(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?" name="login_url" value="<?php echo isset($this->senha['login_url']) ? $this->senha['login_url'] : ''; ?>" data-error="Url inválida" data-type="url" class="form-control"/>
			</div>
			<div style="clear: both;"></div>
		</div>
		<div class="form-group">
			<label for="obs" class="col-sm-2 col-xs-3 control-label">Observação:</label>
			<div class="col-sm-10 col-xs-9 col-lg-10">
				<textarea name="obs" style="resize:none;" class="form-control"><?php echo isset($this->senha['obs']) ? $this->senha['obs'] : ''; ?></textarea>
			</div>
			<div style="clear: both;"></div>
		</div>
		<div class="form-group">
			<label for="st_senha" class="col-sm-2 col-xs-3 col-lg-2 control-label">Status:</label>
			<div class="col-sm-10 col-xs-9 col-lg-4">
				<select name="st_senha" class="form-control">
				    <option value="0" <?php echo isset($this->senha['st_senha']) && $this->senha['st_senha']  == 0 ? "selected='selected'" : "";?>>Não</option>
                    <option value="1" <?php echo isset($this->senha['st_senha']) && $this->senha['st_senha']  == 1 ? "selected='selected'" : "";?>>Sim</option>
                </select>
			</div>
			<div style="clear: both;"></div>
		</div>

		<div class="form-group" align="center">
		<?php 
		  $btns = array();
		  if(!isset($this->senha['id_senha']))
		      $btns['btn-incluir'] =  array('text' => "Incluir",'classe' => 'btn btn-success','btn' => "incluir","habilitado" => "true");
		  if(isset($this->senha['id_senha']))
		      $btns['btn-alterar'] =   array('text' => "Alterar",'classe' => 'btn btn-info','btn' => "alterar","habilitado" => "true");
		  if(isset($this->senha['id_senha']))
		      $btns['btn-remover'] =   array('text' => "Remover",'classe' => 'btn btn-danger','btn' => "excluir","habilitado" => "true");
		  if(isset($this->senha['id_senha']))
		      $btns['btn-limpar'] =   array('text' => "Limpar",'classe' => 'btn btn-default','btn' => "limpar","habilitado" => "true");
		  echo $this->botao($btns);
		  ?>
		</div>
		<input type="hidden" name="id_senha" id="id_senha" value="<?php echo isset($this->senha['id_senha']) ? $this->senha['id_senha'] : "";?>"/>
	</form>

</div>
<?php if(Zend_Controller_Front::getInstance()->getRequest()->getParam('id_senha')):?>
<script>
   enableAlterar('form');
</script>
<?php else:?>
<script>
   enableCadastrar('form');
</script>
<?php endif;?>

<?php if($this->CssHelper()): ?>
<link href="<?php echo $this->baseUrl($this->CssHelper());?>" media="screen" rel="stylesheet" type="text/css">
<?php endif; ?>
<?php if($this->JsHelper()): ?>
<script type="text/javascript" src="<?php echo $this->baseUrl($this->JsHelper())?>"></script>
<?php endif; ?>