
<div load-ctrl="<?php echo $this->controle;?>_<?php echo $this->acao;?>" caminho-js="<?php echo $this->baseUrl($this->JsHelper())?>">
   <div class="row">
        <div class="form-group">
            <label for="nm_grupo" class="col-sm-3 col-xs-3 control-label">Selecione um módulo:</label>
            <div class="col-sm-9 col-xs-9 col-lg-9">
        		<select onchange="getActions('<?php echo Zend_Controller_Front::getInstance()->getRequest()->getParam('id_grupo');?>',this.value);" class="form-control controllerSelecionado">
        		    <option value="">Selecione um controller</option>
        		    <?php foreach($this->Controllers() as $controle):?>
        		      <option value="<?php echo $controle['controller']?>"><?php echo $controle['controller']?></option>
        		    <?php endforeach;?>
                </select>
        	</div>
    	</div>
   </div>
    <hr />
    <div class="resultado">
        <h3>
            <i class="fa fa-search"></i>
            Resultado
        </h3>
    </div>
    <div align="center" class="resultado" style="margin-bottom: 15px;">
        <button class="btn btn-info" id="alterar" type="button" onclick="salvar(<?php echo Zend_Controller_Front::getInstance()->getRequest()->getParam('id_grupo');?>)">Alterar</button>
    </div>
    <div class="table-responsive resultado listarAction">
		
    </div>
    <div align="center" class="resultado">
        <button class="btn btn-info" id="alterar" type="button" onclick="salvar(<?php echo Zend_Controller_Front::getInstance()->getRequest()->getParam('id_grupo');?>)">Alterar</button>
    </div>
</div>
<?php if($this->CssHelper()): ?>
<link href="<?php echo $this->baseUrl($this->CssHelper());?>" media="screen" rel="stylesheet" type="text/css">
<?php endif; ?>
<?php if($this->JsHelper()): ?>
<script type="text/javascript" src="<?php echo $this->baseUrl($this->JsHelper())?>"></script>
<?php endif; ?>