<div>
    <form action="" id="form" novalidate="novalidate">
		<div class="form-group">
			<label for="nm_grupo" class="col-sm-2 col-xs-3 control-label">Nome:</label>
			<div class="col-sm-10 col-xs-9 col-lg-10">
				<input name="nm_grupo" value="<?php echo isset($this->grupo['nm_grupo']) ? $this->grupo['nm_grupo'] : ''; ?>" data-error="Nome do grupo obrigatório" data-type="string" required class="form-control"/>
			</div>
			<div style="clear: both;"></div>
		</div>
		<div class="form-group">
			<label for="is_root" class="col-sm-2 col-xs-3 col-lg-2 control-label">E Root?</label>
			<div class="col-sm-10 col-xs-9 col-lg-4">
				<select name="is_root" class="form-control">
				    <option value="0" <?php echo isset($this->grupo['is_root']) && $this->grupo['is_root']  == 0 ? "selected='selected'" : "";?>>Não</option>
                    <option value="1" <?php echo isset($this->grupo['is_root']) && $this->grupo['is_root']  == 1 ? "selected='selected'" : "";?>>Sim</option>
                </select>
			</div>
			<div style="clear: both;"></div>
		</div>
		<div class="form-group" align="center">
		<?php 
		  $btns = array();
		  if(!isset($this->grupo['id_grupo']))
		      $btns['btn-incluir'] =  array('text' => "Incluir",'classe' => 'btn btn-success','btn' => "incluir","habilitado" => "true");
		  if(isset($this->grupo['id_grupo']))
		      $btns['btn-alterar'] =   array('text' => "Alterar",'classe' => 'btn btn-info','btn' => "alterar","habilitado" => "true");
		  if(isset($this->grupo['id_grupo']) && isset($this->grupo['id_grupo']) && $this->grupo['id_grupo']  != $this->sessao->id_grupo && isset($this->grupo['is_root']) && $this->grupo['is_root'] == 0)
		      $btns['btn-remover'] =   array('text' => "Remover",'classe' => 'btn btn-danger','btn' => "excluir","habilitado" => "true");
		  if(isset($this->grupo['id_grupo']))
		      $btns['btn-limpar'] =   array('text' => "Limpar",'classe' => 'btn btn-default','btn' => "limpar","habilitado" => "true");
		  echo $this->botao($btns);
		  ?>
		</div>
		<input type="hidden" name="id_grupo" id="id_grupo" value="<?php echo isset($this->grupo['id_grupo']) ? $this->grupo['id_grupo'] : "";?>"/>
	</form>

</div>
<?php if(Zend_Controller_Front::getInstance()->getRequest()->getParam('id_grupo')):?>
<script>
   enableAlterar('form');
</script>
<?php else:?>
<script>
   enableCadastrar('form');
</script>
<?php endif;?>

<?php if($this->CssHelper()): ?>
<link href="<?php echo $this->baseUrl($this->CssHelper());?>" media="screen" rel="stylesheet" type="text/css">
<?php endif; ?>
<?php if($this->JsHelper()): ?>
<script type="text/javascript" src="<?php echo $this->baseUrl($this->JsHelper())?>"></script>
<?php endif; ?>