<div class="table-responsive resultado listarMenus">
	<table class="table table-striped table-hover reloadTable">
    	<thead>
    		<tr>
    			<th class="nome">Nome</th>
    			<th class="nome">Módulo</th>
    			<th class="nome">Controller</th>
    			<th class="nome">Ação</th>
    			<th class="nome">Ordem</th>
    			<th class="ck"> Editar / Remover</th>
    		</tr>
    	</thead>
    	<tbody class="listaAction">
    	    <?php 
    	    if($this->menu):
    	    foreach ($this->menu["res"] as $key => $value):
    	    ?>
    		<tr>
    			<td class="nome"><?php echo $value['nome'];?></td>
    			<td class="nome"><?php echo $value['nm_modulo'];?></td>
    			<td class="nome"><?php echo $value['nm_controller'];?></td>
    			<td class="nome"><?php echo $value['nm_action'];?></td>
    			<td class="nome"><?php echo $value['ordem'];?> °</td>
    			<td class="ck">
    			    <?php if(Zend_Registry::get('acl')->isAllowed($this->sessao->id_grupo, $this->modulo.":".$this->controle, "alterar-menu")):?>
        			<a href="javascript:;" onclick="editarMenu({'modulo_id':<?php echo $value['modulo_id']; ?>,'id':<?php echo $value['id']; ?>,nome:'<?php echo $value['nome']; ?>',mn_modulo:'<?php echo $value['nm_modulo'];?>',nm_controller:'<?php echo $value['nm_controller'];?>',nm_action:'<?php echo $value['nm_action'];?>',ordem:<?php echo $value['ordem'];?>,status:<?php echo $value['status'];?>})" class="btn btn-info btn-sm">Editar</a>
        			<?php endif;?>
        			<?php if(Zend_Registry::get('acl')->isAllowed($this->sessao->id_grupo, $this->modulo.":".$this->controle, "excluir-menu")):?>
        			<a href="javascript:;" onclick="excluirMenu({'modulo_id':<?php echo $value['modulo_id']; ?>,'id':<?php echo $value['id']; ?>})" class="btn btn-danger btn-sm">Remover</a>
        			<?php endif;?>
    			</td>
    		</tr>
    		<?php 
    		  endforeach;
    		  endif;
    		?>
    	</tbody>
    </table>	
</div>