<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<?php

		    $palavraChave = "Criação de sites e aplicativos";
        ?>
        <link rel="stylesheet" type="text/css" media="all" href="<?php echo $this->baseUrl("combine.php?type=css&files=plugins/bootstrap/css/bootstrap.min.css,plugins/masterslider/masterslider.main.css,plugins/masterslider/custom.css,plugins/menu/menu.css,estilo.css"); ?>" />
        <!-- Chrome, Firefox OS and Opera -->
		<meta name="theme-color" content="#2e9ccb">
		<!-- Windows Phone -->
		<meta name="msapplication-navbutton-color" content="#2e9ccb">
		<!-- iOS Safari -->
		<meta name="apple-mobile-web-app-status-bar-style" content="#2e9ccb">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="language" content="pt-br" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="author" content="Pauloph - Criaçao de sites" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		
		<link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/manifest.json">
		
		<title>Programador php em Goiânia</title>

	</head>
	<body>
        <!-- Fullscreen Navbar Plugin START -->

        <!-- Checkbox trigger - not visible on screen -->
        <input id="e-checkbox-trigger" type="checkbox" class="e-checkbox-trigger">

        <!-- Checkbox label - Navbar icon is styled inside -->
        <label class="mod-label" for="e-checkbox-trigger">
            <span class="e-navbar-icon radial">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </span>
        </label>
        <header class="e-navbar effect-fade-in">
            <nav>
                <ul>
                    <li>
                        <a href="#" title="<?php echo $palavraChave; ?> - Página inicial">Home</a>
                    </li>
                    <li>
                        <a href="#" title="<?php echo $palavraChave; ?> - Saiba mais">Quem sou</a>
                    </li>
                    <li>
                        <a href="#" title="<?php echo $palavraChave; ?> - Portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a href="#" title="<?php echo $palavraChave; ?> - Contato">Contato</a>
                    </li>
                </ul>
            </nav>
        </header>
        <!-- Fullscreen Navbar Plugin END -->
        <div>
    	    <?php echo $this->layout()->content; ?>
    	</div>
	   <script type="text/javascript" src="<?php echo $this->baseUrl("combine.php?type=javascript&files=plugins/jquery/jquery-3.1.0.min.js,plugins/bootstrap/js/bootstrap.min.js,plugins/masterslider/masterslider.min.js,scripts.js"); ?>"></script>
	</body>
</html>