<?php $controle = Zend_Controller_Front::getInstance()->getRequest()->getControllerName()."_".Zend_Controller_Front::getInstance()->getRequest()->getActionName();?>
<div class="container" ng-controller="<?php echo $controle;?>">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Painel administrativo</h3>
                </div>
                <div class="panel-body">
                    <form role="form" id="formLogin" novalidate="novalidate" ng-submit="logar('formLogin')">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" data-error="Usuário obrigatório" data-type="string" required ng-model="login_usuario" placeholder="Usuário" name="login_usuario" type="text" autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control" data-error="Senha obrigatório" data-type="string" required ng-model="password_usuario" placeholder="Senha" name="password" type="password">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="lembrar" type="checkbox" ng-model="lembrar" value="1">Lembrar
                                </label>
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <button type="submit" class="btn btn-lg btn-success btn-block">Logar</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

